# CPU
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ=240

# FreeRTOS
CONFIG_FREERTOS_HZ=1000

# Flash / Partition
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

# SPI master
CONFIG_SPI_MASTER_IN_IRAM=y

# WiFi
CONFIG_ESP_WIFI_TASK_PINNED_TO_CORE_0=y

# HTTP server
CONFIG_HTTPD_MAX_REQ_HDR_LEN=1024
CONFIG_HTTPD_MAX_URI_LEN=512

# SPIFFS
CONFIG_SPIFFS_MAX_PARTITIONS=1

# LVGL fonts
CONFIG_LV_FONT_MONTSERRAT_20=y
CONFIG_LV_FONT_MONTSERRAT_40=y

# Log level
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
